/* スマホ向けのCSS */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    form {
        margin-top: 10px;
    }

    .input-container {
        margin-bottom: 10px;
    }

    input, textarea {
        font-size: 14px;
    }

    label {
        top: 5px;
        left: 5px;
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    #success-message {
        margin-top: 10px;
    }
}
